@media (max-width: 350px) {

    // application
    .application {

        &__links {
            flex-direction: column;
            align-items: center;
        }
    }

    // booking
    .booking {
        padding: 70px 0;
    }
}