// menu btn
.menu__btn {
	height: 30px;
	width: 30px;
	background-color: transparent;
	cursor: pointer;

	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.menu__btn-line {
	height: 15px;
	width: 15px;
	box-shadow: 2px 2px 0 $accent-color;
	transform: rotate(135deg) translate(-2px, -4px);
	transition: transform .3s;

	&::before,
	&::after {
		content: '';
		height: 15px;
		width: 15px;
		box-shadow: 2px 2px 0 $accent-color;
		position: absolute;
		transition: box-shadow .3s;
	}

	&::before {
		transform: translate(-11px, -4px);
	}

	&::after {
		transform: translate(-3px, 4px);
	}
}

.menu__btn.menu__btn--open .menu__btn-line {
	transform: rotate(-45deg) translate(-4px, -3px);
}

.menu__btn.menu__btn--open .menu__btn-line::before,
.menu__btn.menu__btn--open .menu__btn-line::after {
	box-shadow: none;
}

// ============= Media Queries ===============

// global
@media (max-width: 750px) {
	%title-font {
		font-size: 32px;
		line-height: 42px;
	}
}

@media (max-width: 400px) {
	%title-font {
		font-size: 27px;
		line-height: 37px;
	}

	.doctors__text,
	.service__text,
	.team__text,
	.application__text {
		font-size: 16px;
		line-height: 24px;
	}
}

@import 'media-1385';
@import 'media-1250';
@import 'media-1150';
@import 'media-1000';
@import 'media-860';
@import 'media-750';
@import 'media-615';
@import 'media-500';
@import 'media-400';
@import 'media-350';